@using GestorEventos.Servicios.Entidades
@model GestorEventos.Servicios.Entidades.EventoViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>EventoViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoEvento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstadoEvento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdEvento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdEvento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEvento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreEvento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEvento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaEvento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadPersonas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantidadPersonas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoEvento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdTipoEvento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdPersonaAgasajada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdPersonaAgasajada)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Visible)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Visible)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Borrado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Borrado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstadoEvento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdEstadoEvento)
        </dd>
    </dl>


    <h3>Servicios Contratados</h3>

    @foreach (var servicio in (IEnumerable<Servicio>)ViewData["ListaServicios"])
    {
        <dt class="col-sm-2">
            @Html.DisplayFor(model => servicio.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => servicio.PrecioServicio);
        </dd>
    }

</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
